    <nav class="navbar">

        <div class="left">

            <h1><a href="/" style="text-decoration: none; color:white">CodePen's</a></h1>

        </div>

        <div class="right">

            <input type="checkbox" id="check">

            <label for="check" class="checkBtn">

                <i class="fa fa-bars"></i>

            </label>

            <ul class="list">

                <li><a href="/">Home</a></li>

                <li><a href="users/signin">Sign In</a></li>

                <li><a href="users/signup">Sign Up</a></li>

                <li><a href="refresh">Refresh Token</a></li>

                <li><a href="validate">Validate</a></li>

            </ul>

        </div>

    </nav>