<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/homepage.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <title>Document</title>
    </head>
    <body>
        <%- include ('../partials/navbar.ejs') %>
        <div class="container">
            <div class="content">
                <div class="square twitch" style="margin-bottom: 50px">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="three"></span>
                    <div class="circle">
                        <h2 class="DrugRadar">JWT Tokens</h2>
                        <p>Random page copied from codepen</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
