<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= "pageTitle" %></title>
    </head>
    <body>
        <header><%- include ('../partials/navbar.ejs') %></header>

        <main><%- include ('../partials/navbar.ejs') %></main>

        <footer><%- include ('../partials/footer.ejs') %></footer>
    </body>
</html>
